:root {
    --clr-primary:#FF6060;
    --crl-diabled:#C4C4C4;
    --clr-disabled-light: #E3E3E3;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0;
}

h1 {
    font-size:1.5rem; /* 24px */
    font-weight:500;
}

@media (min-width: 768px) {
    h1 {
        font-size:3rem; /* 48px */
    }
}

h2 {
    font-size:1.125rem; /* 18px */ 
    font-weight:500;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width:100%;
    display:block;
}

ul {
    list-style-type: none;
}

/* utitlity classes */
.container {
    padding:1.25rem;
    flex-direction: column;
}

.flex {
    display:flex;
    gap: var(--gap, .625rem); /* 10px default gap */
}

.center {
    justify-content:center;
    align-items:center;
}

.grid {
    display:grid;
    gap: var(--gap, 1.25rem); /* 20px default gap */
}

@media (min-width: 768px) {
    .container {
        padding: 2.5rem 6.25rem; /* 40px 100px*/
    }

    .grid {
        gap: var(--gap, 3.125rem); /* 50px default gap */
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 3.5rem 3.125rem; /* 56px 50px */
    }
}

/* elements */

/* tagpill */
.pill {
    width: 5.25rem; /* 84px */
    height:1.125rem; /* 18px */
    font-size:10px;
    font-weight:500;
    border-radius:.313rem; /* 5px */
    color:white;
    background-color:var(--clr-primary);
}

/* thumb */
.thumb {
    width:100%; /* 340px */
    height: 15.938rem; /* 255px */
    border-radius:.625rem; /* 10px */
    padding: 1.25rem; /* 20px */
    align-items:flex-end;
    color:white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-color: var(--clr-primary);
}

.thumb > h2 {
    width:12ch;
}

/* dropdown */
.dropdown-container {
    flex-direction:column;
}

.dropdown-toggle {
    position: relative;
    width:100;
    height:1.875rem; /* 30px */
    border-radius:.313rem; /* 5px */
    padding-inline: 0.75rem; /* 12px */
    justify-content: space-between;
    align-items:center;
    font-size:0.813rem; /* 13px */
    color:white;
    background-color: var(--clr-primary);
}

.dropdown-btn {
    cursor: pointer;
    border:none;
    font-size:1.5rem;
    color:white;
    background-color: var(--clr-primary);
}

.dropdown-content {
    display:none;
    margin-top:-.625rem; /* 10px */
    padding-top:2.5rem;/* 40px */
    padding-bottom:1.25rem;
    padding-inline: 0.75rem; /* 12px */
    height:auto;
    border-bottom-left-radius:.625rem; /* 10px */
    border-bottom-right-radius:.625rem; /* 10px */
    font-size: 0.75rem; /* 12px */
    color:var(--clr-primary);
    background-color: #F6F6F6;
}

.show {
    display:block;
}

/* carousel */
.carousel-container {
    position:relative;
    width:100%;
    height:15.938rem; /* 255px */
    border-radius: .625rem; /* 10px */
    overflow:hidden;
    --gap:0;
}

.carousel {
    height:100%;
    transition:0.2s;
}

.carousel > img {
    min-width:100%;
    object-fit:cover;
    object-position: center;
}

.arrow-left, 
.arrow-right {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    z-index:10;
    font-size:2rem;
    color:white;
}

.arrow-left{
    left:1rem;
}

.arrow-right{
    right:1rem;
}

@media (min-width: 768px) {
    .pill {
        width: 7.188rem; /* 115px */
        height:1.563rem; /* 25px */
        font-size: 0.875rem; /* 14px */
        border-radius: .625rem; /* 10px */
    }

    .thumb {
        aspect-ratio: 1;
        height: auto;
    }

    .dropdown-container:not(.about-dropdown-container) {
        flex-direction:row;
        --gap:4.75rem; /* 76px */
    }

    .dropdown-container > * {
        flex-basis:100%;
    }

    .dropdown-toggle {
        height:3.25rem; /* 52px */
        border-radius: .625rem; /* 10px */
        padding-inline: 1.25rem; /* 20px */
        font-size:1.125rem; /* 18px */
    }

    .dropdown-content {
        padding-inline: 1.25rem; /* 20px */
        font-size:1.125rem; /* 18px */
    }

    .about-dropdown-container {
        padding-inline: 6.25rem; /* 100px */
    }

    .about-dropdown-toggle {
        height: 3rem;  /* 48px */
        border-radius:.313rem; /* 5px */
        font-size: 1.5rem; /* 24px */
    }

    .about-dropdown-content {
        font-size: 1.5rem; /* 24px */
    }

    .carousel-container {
        height: 25.938rem; /* 415px */
    }

    .arrow-left, 
    .arrow-right {
    font-size:4rem;
}
}