.housing-info-container {
    grid-area: info;
    display: grid;
    grid-template-areas: 
    "info-title info-title"
    "info-pill info-pill"
    "info-rating info-host";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 0.5fr;
    padding: 0.5rem 1.5rem;
}

.housing-info-top {
    color: var(--clr-primary);
}

.housing-info-host {
    color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: right;
    grid-area: info-host;
}

.housing-info-hostname {
    font-size: medium;
}
.housing-info-hostpic {
    margin-left: 0.5rem;
    object-fit: cover;
    border-radius: 50%;
    max-height: 2rem;
}

.housing-info-rating {
    display: flex;
    align-items: center;
    justify-content: left;
    grid-area: info-rating;
}

.housing-info-rating img { 
    max-height: 1.2rem;
}

.housing-info-pill {
    gap: 1rem;
    height: fit-content;
    justify-items: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    grid-area: info-pill;
}

.pill {
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 0.2rem 0.4rem;
    font-size:15px;
    font-weight:500;
    border-radius:.313rem; /* 5px */
    color:white;
    background-color:var(--clr-primary);
}
    

@media screen and (min-width:768px) {
    .housing-info-container {
        grid-area: info;
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        grid-template-areas: 
        "info-title info-host"
        "info-pill info-rating";
        padding: 0.5rem 1.5rem;
    }
    
    .housing-info-container > div {
        flex: 50%;
        padding: 0.5rem;
    }
    
    .housing-info-top {
        color: var(--clr-primary);
    }
    
    .housing-info-host {
        color: var(--clr-primary);
        display: flex;
        align-items: center;
        justify-content: right;
    }
    
    .housing-info-hostpic {
        margin-left: 0.5rem;
        object-fit: cover;
        border-radius: 50%;
        max-height: 3.5rem;
    }
    
    .housing-info-rating {
        display: flex;
        align-items: right;
        justify-content: right;
    }
    
    .housing-info-pill {
        gap: 1rem;
    }
    
    .pill {
        display: flex;
        justify-content:center;
        align-items:center;
        padding: 0.4rem 1rem;
        font-size:15px;
        font-weight:500;
        border-radius:.313rem; /* 5px */
        color:white;
        background-color:var(--clr-primary);
    }
}