.dropdown-container {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0.8rem;
}


@media screen and (min-width: 768px) {
    
    .housing-app-container {
        display: grid;
        grid-template-areas: 
        "carousel"
        "info"
        "dropdowns";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr;
    }
    
    .dropdown-container {
        grid-area: dropdowns;
        display: flex;
        gap: var(--gap);
        padding: .2rem 1rem;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .dropdown-toggle h2 {
        font-size: 1.2rem;
    }
    
    .dropdown-content p, li {
        font-size: 0.9rem;
    }
    
    .flex {
        display: flex;
    }
    
    .dropdown {
        flex: 1;
        margin: 1rem;
    }
}