.dropdown-container {
    display: flex;
    gap: var(--gap);
    padding: 5rem 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.flex {
    display: flex;
}
.dropdown {
    flex: 1;
    margin: 1rem;
}