/* thumb */
.thumb {
    height: 35vh; /* 255px */
    border-radius:.625rem; /* 10px */
    align-items:flex-end;
    color:white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-color: var(--clr-primary);
}

.thumb > h2 {
    width:12ch;
    font-size: small;
    padding: .5rem;
    text-align: left;
    text-decoration: none;
}

.flex {
    display:flex;
    gap: var(--gap, .625rem); /* 10px default gap */
}

a {
    text-decoration: none;
}
