@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

    .divError {
        color: #FF6060;
        font-family: "Montserrat";
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .divError > h3 {
        font-size: 7rem;
        font-weight: bold;
    }

    .divError > p {
        font-size: 1rem;
        font-weight: bold;
    }
    .divError > a {
        color: #FF6060;
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
        cursor: default;
        margin-top: 2rem;
    }

@media screen and (min-width: 768px) {
    .divError {
        color: #FF6060;
        font-family: "Montserrat";
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .divError > h2 {
        font-size: 30rem;
        font-weight: bold;
    }

    .divError > p {
        font-size: 2rem;
        font-weight: bold;
    }
    .divError > a {
        color: #FF6060;
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
        cursor: default;
        margin-top: 2rem;
    }
}