.App {
  text-align: center;
  padding: 5rem 10rem;
}
.container {
    padding:2.5rem 6.25 rem;
    flex-direction: column;
}

.flex {
    display:flex;
    gap: var(--gap, .625rem); /* 10px default gap */
}